:root {
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --accent-cl: #2196F3;
  --main-txt-cl: #212121;
}

@media screen and (max-width: 1199px) {
  .clients, .team, .works, .features, .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients, .team, .works, .features, .hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: "Roboto", "Times New Roman", "Verdana", "Tahoma", sans-serif;
  background-color: #FFFFFF;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.features__list,
.works__list,
.team__list,
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  title {
    margin-bottom: 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid tomato;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list {
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--main-txt-cl);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-cl);
}
.header__link::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 95%;
  margin-top: 28px;
  height: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--accent-cl);
  border-radius: 2px;
  display: block;
  opacity: 0;
  -webkit-transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: transform var(--animation), opacity var(--animation);
  transition: transform var(--animation), opacity var(--animation), -webkit-transform var(--animation);
  -webkit-transform: translate(-50%) scaleX(0.3);
          transform: translate(-50%) scaleX(0.3);
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-cl);
}

.header__icon {
  fill: currentColor;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}
@media screen and (max-width: 768px) {
  .logo {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding-bottom: 25px;
    padding-top: 24px;
  }
}

.logo-header {
  color: #000000;
}

.current {
  color: var(--accent-cl);
}
.current::after {
  opacity: 1;
  -webkit-transform: translate(-50%) scaleX(1);
          transform: translate(-50%) scaleX(1);
}

.hero {
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    height: 600px;
    padding-top: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-cl);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  min-width: 220px;
  min-height: 50px;
  padding: 10px 24px;
  display: inline-block;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__btn:hover, .hero__btn:focus {
  background: #188CE8;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.features {
  padding-bottom: 118px;
}
@media screen and (max-width: 767px) {
  .features__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.works {
  padding-top: 0%;
  display: none;
}
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.works__item {
  position: relative;
}

.works__overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__text {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.team {
  background-color: #F5F4FA;
}

.team__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__info {
    padding-bottom: 30px;
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
@media screen and (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 10px;
  }
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.photo {
  width: 100%;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__logo {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer__nav {
    text-align: left;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer-socials {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}

.footer__list {
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer__link:hover, .footer__link:focus {
  color: #FFFFFF;
}

.footer__link--map {
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  color: #FFFFFF;
}

.socials__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.socials__link--footer:hover, .socials__link--footer:focus {
  background-color: var(--accent-cl);
  color: #FFFFFF;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.socials__link {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #AFB1B8;
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-cl);
  color: #FFFFFF;
}

.socials__icon {
  fill: currentColor;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.socials__icon:hover, .socials__icon:focus {
  fill: currentColor;
}

.clients {
  background-color: #FFFFFF;
}

.clients__item {
  display: block;
}
@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 4);
        flex-basis: calc((100% - 30px) / 4);
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 7);
        flex-basis: calc((100% - 30px) / 7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients__icon {
  fill: currentColor;
  display: block;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: transform var(--animation), opacity var(--animation);
  transition: transform var(--animation), opacity var(--animation), -webkit-transform var(--animation);
}
@media screen and (max-width: 480px) {
  .modal {
    width: calc(100% - 30px);
    min-height: 609px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__label {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  color: var(--main-txt-cl);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal__form-group {
  margin-bottom: 20px;
}

.modal__form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  outline: 1px solid transparent;
  -webkit-transition: outline var(--animation);
  transition: outline var(--animation);
}
.modal__form-field:focus {
  outline-color: var(--accent-cl);
}

.modal__form-field:focus + .modal__form-icon {
  fill: var(--accent-cl);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--main-txt-cl);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal__form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  padding: 12px 16px;
  font-size: 12px;
  -webkit-transition: outline var(--animation);
  transition: outline var(--animation);
}

.modal__form-message:focus {
  outline-color: var(--accent-cl);
}

.modal__form-message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__form-agreement-label {
  font-size: 14px;
  line-height: 1.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__form-agreement-link {
  color: var(--accent-cl);
}

.modal__form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border-radius: 2px;
  border: 2px solid var(--main-txt-cl);
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.modal__form-checkbox:checked {
  background-color: var(--accent-cl);
  border: transparent;
  background-size: auto;
}

.modal__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: var(--accent-cl);
}

.modal__form-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-cl);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  min-width: 220px;
  min-height: 50px;
  padding: 10px 32px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.modal__form-btn:hover, .modal__form-btn:focus {
  background-color: #188CE8;
}

.modal__icon {
  fill: #000000;
}

.grid-btn {
  margin-bottom: 50px;
}

.grid-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.grid__btn {
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: transparent;
  color: var(--main-txt-cl);
  border-radius: 4px;
  background-color: #F5F5F5;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.grid__btn:hover, .grid__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
  background: var(--accent-cl);
  cursor: pointer;
}

.grid__btn:first-child {
  padding: 6px 25px;
}

.grid__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.grid__item {
  width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.grid__item:hover, .grid__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.grid__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.card__text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-block {
    margin-top: 60px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-block {
    margin-left: auto;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .subscribe__text {
    text-align: left;
  }
}

.subscribe__field {
  display: block;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: 1px solid transparent;
  -webkit-transition: outline var(--animation);
  transition: outline var(--animation);
}
@media screen and (max-width: 1199px) {
  .subscribe__field {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    width: 358px;
  }
}

.subscribe__btn {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  color: #FFFFFF;
  background: var(--accent-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background: #188CE8;
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--main-txt-cl);
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-cl);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.js-open-menu__icon,
.js-close-menu__icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  text-align: left;
  background-color: #ffffff;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}
@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-cl);
}
.mobile-menu__link--current {
  color: var(--accent-cl);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-cl);
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.mobile-socials__item {
  position: relative;
}
.mobile-socials__item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-cl);
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */