.grid-btn {
    margin-bottom: 50px;
}

.grid-btn__list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.grid__btn {
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: transparent;
    color: var(--main-txt-cl);
    border-radius: 4px;
    background-color: #F5F5F5;
    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);

&:hover,
&:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background: var(--accent-cl);
    cursor: pointer;
}
}

.grid__btn:first-child {
    padding: 6px 25px;
}

.grid__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.grid__item {
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    transition: box-shadow var(--animation);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.grid__thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    color: #FFFFFF;
    transform: translateY(100%);
    transition: transform var(--animation);
}

.grid__item:hover .overlay {
    transform: translateY(0);
}

.overlay__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.card__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-txt-cl)
}

.card__text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: #757575;
}